<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="windows-1250">
    <title>Add a book</title>
</head>
<body>
    <form action="http://localhost:8080/api/book" method="post">
        <label>Author</label><br>
        <input type="text" name ="author"><br>

        <label>Title</label><br>
        <input type="text" name ="title"><br>

        <label>Amount</label><br>
        <input type="number" name ="amount"><br>


        <button type ="submit">Submit</button>
    </form>

</body>
</html>