<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrowed books</title>
</head>
<body>
    <form action="http://localhost:8080/api/booked" method="post">
        <label>Social security number</label><br>
        <input type="text" name ="ssn"><br>

        <label>Title</label><br>
        <input type="text" name ="title"><br>

        <label>Author</label><br>
        <input type="text" name ="author"><br>


        <button type ="submit">Submit</button>
    </form>

</body>
</html>