<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIBRARY</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="rectangle">
            <h1>Welcome to Library management system</h1>

        </div>
        <div class="square">
            <form action="http://localhost:8080/api/user" method="get">
                <button type="submit">Users</button>
            </form>

            <form action="User.html">
                <button type="submit">Add new user</button>
            </form>
        </div>

        <div class="square">
            <form action="http://localhost:8080/api/book" method="get">
                <button type="submit">Books</button>
            </form>

            <form action="Book.html">
                <button type="submit">Add a book</button>
            </form>
        </div>

        <div class="square">
            <form action="http://localhost:8080/api/bookedbooks" method="get">
                <button type="submit">Borrowed books</button>
            </form>

            <form action="Borrow.html">
                <button type="submit">Borrow a book</button>
            </form>

            <form action="Return.html">
                <button type="submit">Return a book</button>
            </form>
        </div>
    </div>
</body>
</html>