<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIBRARY</title>
</head>
<body>
    <div>
        <form action="http://localhost:8080/api/book" method="get">
            <button type="submit">Books</button>
        </form>
        <button type="submit"><a href="Book.html">Add a book</a></button>
    </div><br>
    <div>
        <form action="http://localhost:8080/api/booked" method="get">
            <button type="submit">Borrowed books</button>
        </form>

        <button type="submit"><a href="Borrowed.html">Borrow a book</a></button>
    </div>



</body>
</html>