        body
            {
                background-color: #303030;
            }
        .square
            {
                width: 33%;
                float: left;
            }
        .rectangle
            {
                width: 100%;
                text-align:center;
                color: #BCA9A9;
            }
        button
            {
                background-color: #777777;
                border-color: black;
                width: 300px;
                height: 100px;
                margin-top: 10px;
                text-align: center;
                color: white;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                padding: 6px;
                font-size: 40px;

            }
        button:hover
            {
                background-color: green;
            }

        input
            {
                background-color: #242323;
                color: white;
                width: 400px;
                height: 100px;
                font-size: 45px;
            }
        input::placeholder
            {
                color: #777777;
                font-size: 35px;
                align: center;
            }
        h1
            {
                font-size: 100px;
            }
