<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
    <form action="http://localhost:8080/api/user" method="post">
        <input name="name" type="text" placeholder="Name"><br><br>

        <input name="surname" type="text" placeholder="Surname"><br><br>

        <input name="email" type="email" placeholder="Email"><br><br>

        <input name="socialSecurityNumber" type="text" placeholder="Social Security Number"><br><br>

        <button type ="submit">Submit</button>
    </form>
</body>
</html>